@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
/*         padding: 0 15px; */
    }
    header {
        display: none;
    }
    .players {
        grid-template-columns: 1fr;
    }
    .club-lists {
        grid-template-columns: 1fr;
    }
    .players {
        grid-template-columns: 1fr;
    }
    .club-lists {
        grid-template-columns: 1fr;
    }
    .hero-flex {
        flex-direction: column;
        padding: 50px 0;
    }
    .hero-left {
        padding: 0;
        width: 100%;
        margin-bottom: 30px;
    }
    .hero-right {
        width: 87%;
    }
    section.hero-sec {
        height: auto;
        margin-bottom: 50px;
    }
    .hero-left h2 {
        font-size: 36px;
        line-height: 1.2;
    }
    .hero-left a {
        margin: 0 auto;
        display: inline-block;
    }
    section.player-sec {
        margin-bottom: 50px;
    }
    section.match-fixture-sec {
        margin-bottom: 50px;
    }
    .match-fixture tbody tr td {
        display: block;
    }
    .match-fixture tbody tr:nth-child(2n) td {
        border: none;
    }
    table.table tr {
        margin-bottom: 15px;
        display: block;
    }
    footer.site-footer {
        padding: 30px 0;
    }
}
